@import url('https://fonts.googleapis.com/css2?family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  /* background-color: #242424; */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}
.font-ade {
  font-family: "Playwrite GB S", cursive;
}
a {
  font-weight: 400;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}
/* 
body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

.line-height {
  /* font-size: 4.2em; */
  line-height: 1.1;
}

/* Change pagination dots color */
.swiper-pagination-bullet {
  background: #ffffff; /* White color for the pagination dots */
  opacity: 0.7; /* Slightly transparent */
  /* height: 20px;
  width: 20px */
}
@media (min-width: 600px) {
  .swiper-pagination-bullet {
    background: #ffffff; /* White color for the pagination dots */
    opacity: 0.7; /* Slightly transparent */
    height: 15px;
    width: 15px
  }
}

.swiper-pagination-bullet-active {
  background: #ff6347; /* Highlight color for the active pagination dot */
}

/* Customize navigation arrows color */
.swiper-button-next, .swiper-button-prev {
  color: #ffffff; /* White color for the navigation arrows */
  opacity: 0.7;
  transition: opacity 0.3s ease;
}

.swiper-button-next:hover, .swiper-button-prev:hover {
  opacity: 1; /* Fully opaque on hover */
}


@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
